*{
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  header{
    text-align: center;
    background-color: rgb(4, 233, 191);
  }
  
  .card{
    margin: 5px 5px;
    padding: 30px 4px;
    width: 200px;
    background-color: rgb(4, 233, 191);
  }
  
  .firstrow,.secondrow,.thirdrow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .card img{
    width: 200px;
    height: 150px;
  }
  
  .card h3,p,h4{
    text-align: center;
  }